<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConferenceRoomAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="MRBSEntities" connectionString="metadata=res://*/Data.MRBS.csdl|res://*/Data.MRBS.ssdl|res://*/Data.MRBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GR-SQLEXP-01;initial catalog=MRBS-EventScheduler;persist security info=True;user id=mrbs;password=mrbs-password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <applicationSettings>
    <ConferenceRoomAddin.Properties.Settings>
      <setting name="MRBSWebServer" serializeAs="String">
        <value>http://gr-mrbs-02.mjsc-int.com/</value>
      </setting>
    </ConferenceRoomAddin.Properties.Settings>
  </applicationSettings>
</configuration>